html {
    height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: -webkit-linear-gradient(top, rgb(32, 36, 63) 0%, rgb(67, 73, 107) 66%, rgb(52, 58, 92) 100%);
  background: -o-linear-gradient(top, rgb(32, 36, 63) 0%, rgb(67, 73, 107) 66%, rgb(52, 58, 92) 100%);
  background: -ms-linear-gradient(top, rgb(32, 36, 63) 0%, rgb(67, 73, 107) 66%, rgb(52, 58, 92) 100%);
  background: -moz-linear-gradient(top, rgb(32, 36, 63) 0%, rgb(67, 73, 107) 66%, rgb(52, 58, 92) 100%);
  background: linear-gradient(to bottom, rgb(32, 36, 63) 0%, rgb(67, 73, 107) 66%, rgb(52, 58, 92) 100%);
  color: white;
}

.user-signin {
  /*max-width: 330px;*/
  padding: 15px;
  margin: 0 auto;
}
.user-signin .user-signin-heading {
  margin-bottom: 10px;
}

.user-signin-heading span{
  border: 2px solid white;
  padding: 0px 25px 0px 25px;
}

.user-signin .btn {
  margin-top: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}