body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.user-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.user-signin .user-signin-heading {
  margin-bottom: 10px;
}

.user-signin .btn {
  margin-top: 25px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
